<!DOCTYPE html>
<html>
<head>
	<title>Projeto 04</title>
	<link href="css/font-awesome.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<meta charset="utf-8" />
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
</head>
<body>
	<header>
		<div class="menu">
			<div class="notifications">
				<a href=""><i class="fa fa-bell"></i></a>
			</div><!--notification-->

			<div class="mensagens">
				<a href=""><i class="fa fa-envelope"></i></a>
			</div><!--mensagens-->

			<div class="logo">
				<h1>Henrique</h1>
				<img src="/img/usuario.png">
			</div><!--logo-->
		</div><!--menu-->
	</header>


	<section class="navbar-vertical">
		<div class="service-logo">
			<img src="/img/emoji.png">
			<div class="service-wraper">
				<h1>Instalead</h1>
				<span>Painel de Licenças</span>
			</div><!--service-wraper-->
		</div><!--service-logo-->

		<div class="clientes">
			<a href=""><i class="fa fa-users"></i>Clientes</a>
		</div><!--clientes-->

		<div class="clientes-mobile">
			<a href=""><i class="fa fa-users"></i></a>
		</div><!--clientes-->

		<div class="clientes-adm">
			<a href=""><i class="fa fa-user"></i>Administração</a>
		</div><!--clientes-adm-->

		<div class="clientes-adm-mobile">
			<a href=""><i class="fa fa-user"></i></a>
		</div><!--clientes-adm-->

		<div class="line-adm"></div>

		<div class="interface"><span>Interface</span></div>

		<div class="line-adm"></div>

		<div class="arrow-left">
			<img src="img/back.png">
		</div><!--arrow-left-->

		<div class="clear"></div>
	</section><!--navbar-vertical-->

	<section class="painel">
		<div class="painel-wraper">
			<div class="title-painel"><h1>Painel de Licenças</h1></div>

			<div class="new-client">
				<button>Novo Cliente</button>
			</div><!--new-client-->

			<div class="option-plus">
				<div class="show-option">
					<span>Mostrar</span>
					<input type="number" placeholder="">
					<span>registros</span>
				</div><!--show-option-->

				<div class="search">
					<span>Buscar</span>
					<input type="search" placeholder="">
				</div><!--search-->
			</div><!--option-plus-->

			<div class="edit-info">


						<p id="info">
							<table border="1" cellspacing="0">
								<tr>
									<td>id</td>
									<td>nombre</td>
									<td>software</td>
									<td>validade</td>
									<td>hwid</td>
									<td>vendedor</td>
									<td>ações</td>
								</tr>
								
								<% for(user of users){ %>
									
								<tr>
									<td><%= user.id %></td>
									<td><%= user.nombre %></td>
									<td><%= user.software %></td>
									<td><%= user.validade %></td>
									<td><%= user.hwid %></td>
									<td><%= user.vendedor %></td>
									<td><button>editar</button><button>excluir</button></td>
										
								</tr>
								
								<% } %>
							</table>
						</p>
					 	

			</div><!--edit-info-->

			<div class="register">
				<span>Mostrando registros de 1 a 10 de um total de <%= users.length %> registros</span>
				<div class="back-next">
					<div class="back"><button>Anterior</button></div>
					<div class="number-page"><button>1</button></div>
					<div class="number-page2"><button>2</button></div>
					<div class="next"><button>Seguinte</button></div>
				</div><!--back-next-->
			</div><!--register-->
		</div><!--painel-wraper-->
	</section><!--painel-->


	<section class="client-user">
		<div class="recent-client">
			<div class="title-recent">
				<h1>Novo Cliente</h1>
				<button>X</button>
			</div><!--title-recent-->

			<div class="email-client">
				<span>E-mail:</span>
				<input type="email" placeholder="">
			</div><!--email-client-->

			<div class="senha-client">
				<span>Senha:</span>
				<input type="password" placeholder="">
			</div><!--email-client-->

			<div class="software-client">
				<span>Selecione o Software:</span>
				<form>
				  <select placeholder="" name="" id="">
				    <option value="">Selecione o Sofware Abaixo:</option>
				    <option value="">A</option>
				    <option value="">B</option>
				    <option value="">C</option>
				  </select>
				</form>
			</div><!--email-client-->

			<div class="validade-client">
				<span>Validade</span>
				<input type="date" placeholder="">
			</div><!--validade-client-->

			<div class="codigo-client">
				<span>HWID:</span>
				<input type="text" placeholder="">
			</div><!--email-client-->


			<div class="revenda-client">
				<span>Revenda:</span>
				<input type="text" placeholder="Henrique">
			</div><!--email-client-->

			<div class="final">
				<div class="cancel">
					<button>Cancelar</button>
				</div><!--cancel-->

				<div class="licence">
					<button>Gerar Licença</button>
				</div><!--cancel-->
			</div><!--finish-->

		</div><!--recent-client-->

		

		<div class="clear"></div>
	</section><!--client-user-->
</body>
</html>